* {
    font-family: stevie-sans, sans-serif;
}

body {
    
    background-color: var(--primary-white);
}

.cards {
    display: flex;
    
    h1 {
        font-size: 32px;
    }
}

.card {
    width: 33.33%;
    transition: width 0.3s ease-in-out;
}

.card-euphron {
    background-color: var(--primary-red);
    color: var(--primary-white);
    z-index: 2;
    padding: 20px 20px 0px 0px;

    h1 {
        padding-left: 20px;
    }

    p {
        opacity: 0; /* Masqué par défaut */
        visibility: hidden; /* Masqué par défaut */
        position: absolute; /* Pour que l'élément puisse être positionné hors de l'écran si nécessaire */
    }
}

.containerLogo {
    position: relative;
    bottom: -40px;
}

.text-right {
    text-align: right;
}

.card-partner {
    background-color: var(--primary-black);
    color: var(--primary-white);
    padding: 20px;
}

.imgPartner {
    position: relative;
    top: -50px;
    left: -110px;
}

.card-projet {
    display: flex;
    padding-right: none;
    flex-direction: column;
    padding: 20px 0px 20px 20px;
}

.containerImg{
    display: flex;
    justify-content: flex-end;
}

.imgProjet {
    position: relative;
    text-align: right;
    width: 200px;
    bottom: -100px;
}
.card-euphron:hover {
    width: 85%;
}

.card-euphron:hover .container-p {
    width: 100%;
    display: flex;
    justify-content: end;
}

.card-euphron:hover p {
    visibility: visible;
    opacity: 1;
    width: 40%;
    display: flex;
    align-items: end;
    margin-right: 100px;
    margin-bottom: 30px;
}

/* Règles pour la carte partenaire */
.card-euphron:hover ~ .card-partner {
    width: 10%;
}

.card-euphron:hover ~ .card-partner .imgPartner,
.card-euphron:hover ~ .card-partner h1 {
    display: none;
}

/* Règles pour la carte projet */
.card-euphron:hover ~ .card-projet {
    width: 5%;
}

.card-euphron:hover ~ .card-projet .imgProjet,
.card-euphron:hover ~ .card-projet h1 {
    display: none;
}

